<h1>Signe up</h1>
<%= form_with model: @user, url: signed_up_path do |form| %>
 <div class="mb-3">  
 <%= form.text_field :email %> 
 </div>
 <div>
 <%= form.password_field :password %>
 </div>
 <div> 
 <%= form.password_field :password_confirmation %>
 </div>
 
  
  
<% end %>